<h1><a href='<%= LEVELS_PATH %>'>LEVELS</a></h1>
<table width='100%'>
	<% @levels.each_with_index do |level, index| %>
		<tr style="background: #<%= COLORS[level.number % 10] %>"  width='100%'>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=<%= @showed && level.id == @showed.id ? nil : 'show' %>'>level #<%= level.number %> </a>
								<small><i>(version=<%= level.version %>, id=<%= level.id %>; <%= (level.created_at ? level.created_at.to_formatted_s(:short) : nil) %> - <%= level.author %>)</i></small>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=<%= level.enabled ? 'disable' : 'enable' %>'><%= level.enabled ? 'enabled' : 'disabled' %></a>
					<% unless level.head %>
						</td>
						<td>
							<a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=head'>HEAD</a>
					<% else %>
						</td><td>
					<% end %>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=delete_request'>[delete]</a>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=delete_all_request'>[delete all old]</a>
				</td>
			<%=level.head ? '</b></b></b></b>' : nil%>
		</tr>
		<% if @showed && level.id == @showed.id %>
			<tr style="background: #<%= COLORS[level.number % 10] %>"  width='100%'>
				<td>
					<!--p><small>Description: <i><%= level.description %></i></small></p>
					<p><small>Size: <i><%= "#{level.width} x #{level.height}" %></i></small></p>
					<p><small>Image: <i><%= level.image %></i></small></p-->
					<form method="post" action="<%= LEVELS_PATH %>?id=<%= level.id%>&act=update">
						<p>
							Description:<br>
							<textarea name="description" rows="3" cols="100"><%= CGI::escapeHTML(level.description || '') %></textarea>
						</p>
						<p>
							Size:&nbsp;&nbsp;&nbsp;&nbsp;
							Width <input type="text" name="width" maxlength="2" value="<%= level.width %>" size="3"></input>
							&nbsp;&nbsp;
							Height <input type="text" name="height" maxlength="2" value="<%= level.height %>" size="3"></input>
						</p>
						<p>
							Image:<input type="text" name="image" value="<%= level.image %>" size="60"></input>
						</p>
						<p>
							GROUP:<br>
							<textarea name="group" rows="8" cols="100"><%= CGI::escapeHTML(level.group || '') %></textarea>
						</p>
						<p>
							CONDITIONS:<br>
							<textarea name="conditions" rows="5" cols="100"><%= CGI::escapeHTML(level.conditions || '') %></textarea>
						</p>
						<input type="submit" value="Update"></input>
					</form>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>