<h1><a href='<%= LEVELS_PATH %>'>LEVELS</a></h1>
<table width='100%'>
	<% @levels.each_with_index do |level, index| %>
		<tr style="background: #<%= COLORS[level.number % 10] %>"  width='100%'>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=<%= @showed && level.id == @showed.id ? nil : 'show' %>'>level #<%= level.number %> </a>
								<small><i>(version=<%= level.version %>, id=<%= level.id %>; <%= (level.created_at ? level.created_at.to_formatted_s(:short) : nil) %> - <%= level.author %>)</i></small>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=<%= level.enabled ? 'disable' : 'enable' %>'><%= level.enabled ? 'enabled' : 'disabled' %></a>
					<% unless level.head %>
						</td>
						<td>
							<a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=head'>HEAD</a>
					<% else %>
						</td><td>
					<% end %>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=delete_request'>[delete]</a>
				</td>
				<td>
					<%=level.head ? '<b>' : nil%><a href='<%= LEVELS_PATH %>?id=<%= level.id%>&act=delete_all_request'>[delete all old]</a>
				</td>
			<%=level.head ? '</b></b></b></b>' : nil%>
		</tr>
		<% if @showed && level.id == @showed.id %>
			<tr style="background: #<%= COLORS[level.number % 10] %>"  width='100%'>
				<td>
					<p><small><i><%= level.description %></i></small></p>
					<p>GROUP:<br><small><pre><%= CGI::escapeHTML(level.group || '') %></pre></small></p>
					<p>CONDITIONS:<br><small><pre><%= CGI::escapeHTML(level.conditions || '') %></pre></small></p>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>