<h1><a href='<%= USERS_PATH %>'>USERS</a></h1>
<table width='100%' border='1'>
	<tr width='100%'>
		<th>id</th>
		<th>net</th>
		<th>uid</th>
		<th>first_name</th>
		<th>last_name</th>
		<th>level_instances</th>
		<th>rewards</th>
		<th>score</th>
		<th>money</th>
		<th>level</th>
		<th>roll</th>
		<th>friends_invited</th>
		<th>postings</th>
		<th>day_counter</th>
		<th>created_at</th>
		<th>updated_at</th>
	</tr>
	<% @users.each_with_index do |user, index| %>
		<tr width='100%'>
        	<td><a href="<%= USERS_PATH %>?show=<%= user.id %>"><%= user.id %></a></td>
        	<td><%= user.net %></td>
        	<td><%= user.uid %></td>
        	<td><%= user.first_name && user.first_name.size > 0 ? user.first_name : '<null>' %></td>
        	<td><%= user.last_name && user.last_name.size > 0 ? user.last_name : '<null>' %></td>
        	<td><%= user.level_instances.to_json[0..10] %></td>
        	<td><%= user.rewards.to_json[0..10] %></td>
        	<td><%= user.score %></td>
        	<td><%= user.money %></td>
        	<td><%= user.level %></td>
        	<td><%= user.roll %></td>
        	<td><%= user.friends_invited %></td>
        	<td><%= user.postings %></td>
			<td><%= user.day_counter %></td>
        	<td><%= user.created_at.to_formatted_s(:short) %></td>
        	<td><%= user.updated_at.to_formatted_s(:short) %></td>
		</tr>
	<% end %>
</table>